Flask
gunicorn
requests
twilio==3.3.6
python-transparencydata
python-sunlightapi
sunlight
jinja2
pymongo
blinker
python-dateutil<2
pyglot
geopy
newrelic
-e git+https://github.com/sunlightlabs/python-realtimecongress.git#egg=realtimecongress