Flask
gunicorn
requests
twilio==3.3.6
python-transparencydata
python-sunlightapi
sunlight
jinja2
pymongo
raven>=1.7.3
blinker
python-dateutil<2
pyglot
geopy
-e git+https://github.com/sunlightlabs/python-realtimecongress.git#egg=realtimecongress