<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Call on Congress is a free telephone service that helps you learn more about what Congress is doing. Find out how your representatives are voting on bills and raising campaign money. You can also be connected with your lawmakers’ Capitol Hill offices or get details on where to vote on Election Day.">
        <meta property="og:site_name" content="Sunlight Foundation">
        <meta property="og:title" content="Call on Congress">
        <meta property="og:description" content="1-888-907-6886 | Call on Congress is a free telephone service that helps you learn more about what Congress is doing. Find out how your representatives are voting on bills and raising campaign money. You can also be connected with your lawmakers’ Capitol Hill offices or get details on where to vote on Election Day.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://sunlightfoundation.com/calloncongress/">
        <meta property="og:image" content="http://sunlight-assets.s3.amazonaws.com/calloncongress/site/images/callCongress_fb.jpeg">
        <meta property="og:locale" content="en_US">
        <meta property="fb:admins" content="7812952">
        <title>Call on Congress</title>
        <link rel="stylesheet" href="http://assets.sunlightfoundation.com/sfapp/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://assets.sunlightfoundation.com/sfapp/static/css/sfapp.css">
        <style>
            a { color: #C9A706; }
            fieldset { margin-bottom: 3em; }
            fieldset p { margin: 1em 0; }
            fieldset ul { padding-top: 2em; }
            .form-actions, .well { background-color: #f8f7f6; }
            header { background: url(http://sunlight-assets.s3.amazonaws.com/calloncongress/site/images/bg_breakLine.png) left bottom repeat-x; padding-bottom: 5px; margin-bottom: 40px;}
            h1 { background: url(http://sunlight-assets.s3.amazonaws.com/calloncongress/site/images/logo.png) top left no-repeat; width: 396px; height: 63px; text-indent: -9999px; margin-bottom: 10px; }
            #featureArea { background: url(http://sunlight-assets.s3.amazonaws.com/calloncongress/site/images/bg_lgBreakLine.png) left bottom repeat-x; padding-bottom: 20px; margin-bottom: 45px;}
            #featureText { background: url(http://sunlight-assets.s3.amazonaws.com/calloncongress/site/images/bg_featureText.png) left top no-repeat; width: 261px; height: 314px; margin-top: 35px;}
            #phone { background: url(http://sunlight-assets.s3.amazonaws.com/calloncongress/site/images/bg_phone.png) left top no-repeat; width: 332px; height: 40px; margin: 20px 0 15px; }
            .justifyText { text-align:justify; font-size: 130%; line-height: 25px; color: #82807d; width: 335px;}
            #secondaryText { margin-top: 60px;}
            .explainatoryText .span3 {  border-right: 1px solid #d1d0cb; margin-right: 15px; padding-right: 30px;}
            #phoneImg { margin-left: 10px;}
            .sharing > div { display: block; float: right; }
            .sharing-tw { margin-right: 0.9em; }
        </style>
        <script type="text/javascript" src="http://use.typekit.com/tab6neo.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1265484-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body class="">
        <div class="sf-header">
            <div class="container">
                <a class="sf-logo" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
            </div>
        </div>
        <div class="container">
            <header class="row">
                <div class="span9">
                    <h1><a href="/">Call on Congress</a></h1>
                </div>
                <div class="sharing span3">

                    <div class="sharing-gp">
                        <div class="g-plusone" data-size="tall"></div>
                    </div>

                    <div class="sharing-tw">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sunlightfoundation.com/calloncongress/" data-text="Check out #CallonCongress, @sunfoundation's new tool to connect with Congress via phone. 1-888-907-6886 #opengov" data-lang="en" data-count="vertical">Tweet</a>
                    </div>

                    <div class="sharing-fb">
                        <div class="fb-like" data-href="http://sunlightfoundation.com/calloncongress/" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false"></div>
                    </div>

                </div>
            </header>
            <div id="content" class="clearfix">
                <div id="featureArea" class="row">
                    <div class="span4">
                        <p class="textReplace" id="featureText">
                            You can call a phone number to order pizza. You can call Mom when you are feeling blue. But what about when you want to know what’s happening in our nation’s capital?
                        </p>
                    </div>
                    <div class="span3">
                        <img id="phoneImg" alt="flip phone" src="http://sunlight-assets.s3.amazonaws.com/calloncongress/site/images/img_phone.png">
                    </div>
                    <div class="span4" id="secondaryText">
                        <p class="justifyText">Call on Congress is a free telephone service that helps you learn more about what Congress is doing.</p>
                        <p class="justifyText">
                            <span id="phone" class="textReplace">Simply dial 1-888-907-6886</span> to find out how your representatives are voting on bills and raising campaign money. You can also be connected with your lawmakers’ Capitol Hill offices or get details on where to vote on Election Day.
                        </p>
                        <a href="http://www.twilio.com/" style="text: decoration: none; display: inline-block; width: 166px; height: 0; overflow: hidden; padding-top: 31px; background: url(http://www.twilio.com/packages/company/img/logos_icon_poweredbysmall.png) no-repeat;">powered by twilio™</a>
                    </div>
                </div>
                <div class="explainatoryText row">
                    <div class="span3">
                        <p class="tip">Available in both English and Spanish, one phone call provides you with instant information on how Congress is representing you in Washington, D.C.</p>
                    </div>
                    <div class="span7">
                        <p>The Sunlight Foundation created Call on Congress to help bridge the “digital divide” by giving anyone with a phone line a free and meaningful way to understand their government and hold elected officials accountable.</p>
                        <p>If you are a non-profit, community or advocacy group interested in learning more about Call on Congress, please contact Amy Ngai at angai@sunlightfoundation.com.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sf-footerWrapper">
            <div class="sf-footer container">
                <div class="row">
                    <div class="span6 signup span-divider">
                        <h4>Like this Project and Want to Discover Others Like It?</h4>
                        <span class="tip">Join the Sunlight Foundation's open government community to learn more</span>
                        <form action="http://sunlightfoundation.com/mailinglist/subscribe/" method="post" id="sfapp-subscribe-form" class="form-inline">
                            <input type="text" name="email" placeholder="your email address">
                            <input type="text" name="zipcode" placeholder="your zip code">
                            <button type="submit" class="btn btn-sunlight">Sign Up</button>
                        </form>
                    </div>
                    <div class="span6 terms">
                        <p>Our <a href="http://sunlightfoundation.com/legal/privacy/">privacy policy</a> details how personally identifiable information that is collected on our web sites is handled. Read our <a href="http://sunlightfoundation.com/legal/terms/">terms of service</a>.</p>
                        <p>This work by <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, unless <a href="http://sunlightfoundation.com/colophon/">otherwise noted</a>, is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="fb-root"></div>
        <script src="http://assets.sunlightfoundation.com/sfapp/static/js/jquery-1.7.2.min.js"></script>
        <script src="http://assets.sunlightfoundation.com/sfapp/static/js/sfapp.js"></script>
        <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
        <script src="https://apis.google.com/js/plusone.js"></script>
        <script>
            var is_ssl = ("https:" == document.location.protocol);
            var asset_host = is_ssl ? "https://d3rdqalhjaisuu.cloudfront.net/" : "http://d3rdqalhjaisuu.cloudfront.net/";
            document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script>
            var feedback_widget_options = {};
            feedback_widget_options.display = "overlay";
            feedback_widget_options.company = "sunlightfoundation";
            feedback_widget_options.placement = "left";
            feedback_widget_options.color = "#222";
            feedback_widget_options.style = "question";
            var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
        </script>
    </body>
</html>